@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinHair-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinHair-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinHair-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinHair-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinHair-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinHair-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinHair-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinHair-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 100;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinThin-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinThin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinThin-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinThin-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 200;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinThin-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinThin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinThin-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinThin-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 200;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinLight-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinLight-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinLight-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinLight-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinLight-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatin-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinMed-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinMed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinMed-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinMed-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinMed-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinMed-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinMed-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinMed-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinSemBd-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinSemBd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinSemBd-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinSemBd-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinSemBd-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinSemBd-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinSemBd-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinSemBd-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatin-BoldItalic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinBlack-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinBlack-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinBlack-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinBlack-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 800;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinBlack-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinBlack-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinBlack-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinBlack-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 800;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinExtBd-Regular.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinExtBd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinExtBd-Regular.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinExtBd-Regular.ttf') format('truetype');
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    font-size: 25px;
}

@font-face {
    font-family: 'Lato';
    src: url('font/lato/LatoLatin/LatoLatinExtBd-Italic.eot'); /* IE9 Compat Modes */
    src: url('font/lato/LatoLatin/LatoLatinExtBd-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/lato/LatoLatin/LatoLatinExtBd-Italic.woff') format('woff'), /* Modern Browsers */
         url('font/lato/LatoLatin/LatoLatinExtBd-Italic.ttf') format('truetype');
    font-style: italic;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    font-size: 25px;
}

@font-face {
    font-family:'Brandon';
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Thin.eot');
    src: url('font/brandon/BrandonGrotesque_Thin.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Thin.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Thin.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Thin.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Thin.svg#BrandonGrotesque_Thin') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Thin_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Thin_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Thin_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Thin_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Thin_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Thin_italic.svg#BrandonGrotesque_Thin_italic') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Light.eot');
    src: url('font/brandon/BrandonGrotesque_Light.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Light.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Light.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Light.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Light.svg#BrandonGrotesque_Light') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Light_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Light_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Light_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Light_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Light_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Light_italic.svg#BrandonGrotesque_Light_italic') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Regular.eot');
    src: url('font/brandon/BrandonGrotesque_Regular.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Regular.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Regular.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Regular.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Regular.svg#BrandonGrotesque_Regular') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Regular_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Regular_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Regular_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Regular_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Regular_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Regular_italic.svg#BrandonGrotesque_Regular_italic') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Medium.eot');
    src: url('font/brandon/BrandonGrotesque_Medium.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Medium.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Medium.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Medium.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Medium.svg#BrandonGrotesque_Medium') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Medium_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Medium_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Medium_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Medium_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Medium_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Medium_italic.svg#BrandonGrotesque_Medium_italic') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Bold.eot');
    src: url('font/brandon/BrandonGrotesque_Bold.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Bold.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Bold.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Bold.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Bold.svg#BrandonGrotesque_Bold') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 700;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Bold_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Bold_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Bold_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Bold_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Bold_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Bold_italic.svg#BrandonGrotesque_Bold_italic') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 800;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Black.eot');
    src: url('font/brandon/BrandonGrotesque_Black.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Black.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Black.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Black.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Black.svg#BrandonGrotesque_Black') format('svg');
}

@font-face {
    font-family:'Brandon';
    font-weight: 800;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/brandon/BrandonGrotesque_Black_italic.eot');
    src: url('font/brandon/BrandonGrotesque_Black_italic.eot') format('embedded-opentype'),
         url('font/brandon/BrandonGrotesque_Black_italic.woff2') format('woff2'),
         url('font/brandon/BrandonGrotesque_Black_italic.woff') format('woff'),
         url('font/brandon/BrandonGrotesque_Black_italic.ttf') format('truetype'),
         url('font/brandon/BrandonGrotesque_Black_italic.svg#BrandonGrotesque_Black_italic') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProRegular.eot');
    src: url('font/acaslon/ACaslonProRegular.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProRegular.woff2') format('woff2'),
         url('font/acaslon/ACaslonProRegular.woff') format('woff'),
         url('font/acaslon/ACaslonProRegular.ttf') format('truetype'),
         url('font/acaslon/ACaslonProRegular.svg#ACaslonProRegular') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProItalic.eot');
    src: url('font/acaslon/ACaslonProItalic.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProItalic.woff2') format('woff2'),
         url('font/acaslon/ACaslonProItalic.woff') format('woff'),
         url('font/acaslon/ACaslonProItalic.ttf') format('truetype'),
         url('font/acaslon/ACaslonProItalic.svg#ACaslonProItalic') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 500;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProSemibold.eot');
    src: url('font/acaslon/ACaslonProSemibold.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProSemibold.woff2') format('woff2'),
         url('font/acaslon/ACaslonProSemibold.woff') format('woff'),
         url('font/acaslon/ACaslonProSemibold.ttf') format('truetype'),
         url('font/acaslon/ACaslonProSemibold.svg#ACaslonProSemibold') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProSemiboldItalic.eot');
    src: url('font/acaslon/ACaslonProSemiboldItalic.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProSemiboldItalic.woff2') format('woff2'),
         url('font/acaslon/ACaslonProSemiboldItalic.woff') format('woff'),
         url('font/acaslon/ACaslonProSemiboldItalic.ttf') format('truetype'),
         url('font/acaslon/ACaslonProSemiboldItalic.svg#ACaslonProSemiboldItalic') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProBold.eot');
    src: url('font/acaslon/ACaslonProBold.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProBold.woff2') format('woff2'),
         url('font/acaslon/ACaslonProBold.woff') format('woff'),
         url('font/acaslon/ACaslonProBold.ttf') format('truetype'),
         url('font/acaslon/ACaslonProBold.svg#ACaslonProBold') format('svg');
}

@font-face {
    font-family:'ACaslon';
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    src: url('font/acaslon/ACaslonProBoldItalic.eot');
    src: url('font/acaslon/ACaslonProBoldItalic.eot') format('embedded-opentype'),
         url('font/acaslon/ACaslonProBoldItalic.woff2') format('woff2'),
         url('font/acaslon/ACaslonProBoldItalic.woff') format('woff'),
         url('font/acaslon/ACaslonProBoldItalic.ttf') format('truetype'),
         url('font/acaslon/ACaslonProBoldItalic.svg#ACaslonProBoldItalic') format('svg');
}
