/* =Responsive Structure
----------------------------------------------- */

@media only screen and (max-width: 600px) {
	h1.detail {
		font-size: 250%;
	}

	h2.detail_info {
		font-size: 1.2em;
	}

	.scroll-words p {
    	font-size: 180%;
	}

	#about .pic {
		margin: 0;
		margin-top: 15%;
		width: 100%;
	}

	#about .pic img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#about .pic .border {
	    display: block;
		margin-left: auto;
		margin-right: auto;
	    border-radius: 170px;
		width: 168px;
		height: 168px;
	}

	#about .profile {
		width: 90%;
	}

}

@media only screen and (max-width: 420px) {
	.detail, .detail_info, .scroll-words p {
	    letter-spacing: .02em;
	}

	h1.detail {
		font-size: 180%;
	}

	h2.detail_info {
		font-size: .8em;
	}

	h3.detail_info {
		font-size: .6em;
	}

	.scroll-words p {
    	font-size: 130%;
	}

	.profile p {
		font-size: 90%;
	}

	.nav-link-menu {
	    padding: 20px;
	}

	.nav-link-menu-content {
	    width: 30px;
	    height: 20px;
	    -webkit-perspective: 30px;
	    -moz-perspective: 30px;
	    perspective: 30px;
	}

	/* Hamburger innards (thanks to beta.rallyinteractive.com) */

	.nav-link-menu-inner {
	    top: 8.5px;
	}

	/* Hamburger animations, toggle */

	.nav-link-menu.active .nav-link-menu-outer-before {
	    -webkit-transform: translateY(-1px) translateX(-3px) rotate(-45deg);
	    -moz-transform: translateY(-1px) translateX(-3px) rotate(-45deg);
	    transform: translateY(-1px) translateX(-3px) rotate(-45deg);
	}
}
