.slide ul {
  margin-left: 2.5%;
  font-size: 25px;
  text-align: left;
  list-style: none;
}

/*
  this highlights substeps with box
*/
.left_slide li:before,
.center_slide li:before,
.right_slide li:before,
#contents-fly-in div.active:before{
    content: "";
    border-color: #5c3317;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 10px
}

.left_slide li ul li:before,
.center_slide li ul li:before,
.right_slide li ul li:before{
    content: "";
    background-color: #5c3317;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px
}

#contents_list li {
    padding-bottom: 20px;
 /*   -webkit-transition:     all 1s;
    -moz-transition:        all 1s;
    -ms-transition:         all 1s;
    -o-transition:          all 1s;
    transition:             all 1s;*/
}

/* give all steps a light opacity by default */
.impress-enabled .step {
  opacity: 0;
  -webkit-transition: opacity 0.7s;
  -moz-transition:    opacity 0.7s;
  -ms-transition:     opacity 0.7s;
  -o-transition:      opacity 0.7s;
  transition:         opacity 0.7s;
}

/* bring steps up to full opacity when active */
.impress-enabled .step.active {
  opacity: 1;
}


/*
  This selector will grab all substeps in a browser that
  is impress.js compatible, and set their opacity to zero.
  This also sets up any property change to be transitioned
  over 1 second
*/
.impress-enabled .substep {
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition:    all 0.7s;
  -ms-transition:     all 0.7s;
  -o-transition:      all 0.7s;
  transition:         all 0.7s;
}

/*
  if a substep gets set to active it will get an
  opacity of 1, transitioned over 1 second by the
  previous selector
*/
.impress-enabled .substep.active {
  opacity: 1;
}

/*
  when a substep has focus it is 'present'
  so we add some color to make it all fancy
*/
.impress-enabled .substep.present {
    color: #de6127;
}

/*
  this is just a silly animation for the
  information overload text on the
  non-substep example
*/
#non-substeps.present .overload {
  display: inline-block;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation: shazam 5s;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-delay: 3s;
}

/*
  actual animation function
*/
@-webkit-keyframes shazam {
  0% {-webkit-transform: scale(0.4, 0.4) rotate(0deg); opacity: 0.3;}
  50% {opacity: 1.0; }
  100% {-webkit-transform: scale(1.9, 1.9) rotate(359deg); opacity: 0;}
}

/*
  just setting the div substep styles
  to something interesting...
  containing div needs a forced height
*/
#contents-fly-in {
  height: 400px;
}

/*
  position the hidden divs off screen
*/
#contents-fly-in div {
  position: absolute;
  left: -500px;
  font-size: 30px;
}
#up_stream {
  position: relative;
  left: -100px;
}

#down_stream {
  position: relative;
  right: -100px;
}

.list_fly_in {
   width: 100%;
   position: relative;
   top:10px;
}

.list_fly_in ul li {
  position: relative;
  left: 30%;
}

.list_fly_in ul li ul li{
  left: 0;
}

#future_res {
  position: relative;
  left:20%;
}

/*
  let them transition on screen when active
*/
#contents-fly-in div.active {
  position: relative;
  left: 0;
  margin-left: 5%
}

#up_stream.active{
  position: relative;
  left: 15%;
}

.list_fly_in ul li.active {
  left: 10%;
}

.list_fly_in ul li ul li.active {
  left: 0;
}

#future_res.active {
  left:0;
}

#down_stream.active{
  position: relative;
  right: 15%;
}

#std_formula.active{
  top:0;
}
