---
interface Props {
  active?: boolean;
}

const { active = false } = Astro.props;

const sticks = [
  ['outer', 'left'],
  ['outer', 'right'],
  ['outer', 'top'],
  ['outer', 'bottom'],
  ['inner', 'left'],
  ['inner', 'right'],
  ['inner', 'top'],
  ['inner', 'bottom'],
];
---

<span class:list={['logo-mark', active && 'is-active']} data-logo-unit>
  {
    sticks.map(([layer, side]) => (
      <span
        class:list={[
          'logo-mark__stick',
          `logo-mark__stick--${layer}`,
          `logo-mark__stick--${side}`,
        ]}
      />
    ))
  }
</span>

<style>
  .logo-mark {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    color: var(--color-accent);
    overflow: visible;
    pointer-events: none;
  }

  .logo-mark__stick {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 3px;
    background: currentColor;
    transform-origin: 0 100%;
    transition: transform 0.6s var(--ease-smooth);
    will-change: transform;
  }

  .logo-mark__stick--left {
    width: 37px;
    transform: rotate(90deg);
    transform-origin: 0 100%;
  }

  .logo-mark__stick--right {
    right: 0;
    left: auto;
    width: 37px;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
  }

  .logo-mark__stick--top {
    transform-origin: 100% 100%;
  }

  .logo-mark__stick--bottom {
    transform: translateY(37px);
    transform-origin: 0 100%;
  }

  .logo-mark.is-active .logo-mark__stick--left {
    transform: rotate(90deg) scaleX(1.38) translateX(-12px);
  }

  .logo-mark.is-active .logo-mark__stick--top {
    transform: rotate(20.1deg) scaleX(1.3) translateX(7px);
  }

  .logo-mark.is-active .logo-mark__stick--right {
    transform: rotate(-70.1deg) scaleX(0.96) translate(3px, 12px);
  }

  .logo-mark.is-active .logo-mark__stick--left.logo-mark__stick--inner {
    transform: rotate(70deg) scaleX(1.1) translateX(-12px) translateY(-6px);
  }

  .logo-mark.is-active .logo-mark__stick--right.logo-mark__stick--inner {
    transform: rotate(30deg) scaleX(0.7) translate(23px, 33px);
  }

  .logo-mark.is-active .logo-mark__stick--top.logo-mark__stick--inner {
    transform: rotate(-30deg) scaleX(0.95) translate(7px, 9px);
  }

  .logo-mark.is-active .logo-mark__stick--bottom.logo-mark__stick--inner {
    transform: rotate(-42deg) scaleX(0.5) translate(-43px, 29px);
  }

  @media (prefers-reduced-motion: reduce) {
    .logo-mark__stick {
      transition: none;
    }
  }
</style>
