
@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 600;
	font-size: 25px;
	src: url('myriadsetpro_bold.eot');
    src: url('myriadsetpro_bold.eot') format('embedded-opentype'),
         url('myriadsetpro_bold.woff2') format('woff2'),
         url('myriadsetpro_bold.woff') format('woff'),
         url('myriadsetpro_bold.ttf') format('truetype'),
         url('myriadsetpro_bold.svg#myriadsetpro_bold') format('svg');
}

@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 500;
	font-size: 25px;
	src: url('myriadsetpro_semibold.eot');
    src: url('myriadsetpro_semibold.eot') format('embedded-opentype'),
         url('myriadsetpro_semibold.woff2') format('woff2'),
         url('myriadsetpro_semibold.woff') format('woff'),
         url('myriadsetpro_semibold.ttf') format('truetype'),
         url('myriadsetpro_semibold.svg#myriadsetpro_semibold') format('svg');
}

@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 400;
	font-size: 25px;
	src: url('myriadsetpro_medium.eot');
    src: url('myriadsetpro_medium.eot') format('embedded-opentype'),
         url('myriadsetpro_medium.woff2') format('woff2'),
         url('myriadsetpro_medium.woff') format('woff'),
         url('myriadsetpro_medium.ttf') format('truetype'),
         url('myriadsetpro_medium.svg#myriadsetpro_medium') format('svg');
}

@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 300;
	font-size: 25px;
	src: url('myriadsetpro_text.eot');
    src: url('myriadsetpro_text.eot') format('embedded-opentype'),
         url('myriadsetpro_text.woff2') format('woff2'),
         url('myriadsetpro_text.woff') format('woff'),
         url('myriadsetpro_text.ttf') format('truetype'),
         url('myriadsetpro_text.svg#myriadsetpro_text') format('svg');
}

@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 200;
	font-size: 25px;
	src: url('myriadsetpro_thin.eot');
    src: url('myriadsetpro_thin.eot') format('embedded-opentype'),
         url('myriadsetpro_thin.woff2') format('woff2'),
         url('myriadsetpro_thin.woff') format('woff'),
         url('myriadsetpro_thin.ttf') format('truetype'),
         url('myriadsetpro_thin.svg#myriadsetpro_thin') format('svg');
}

@font-face {
	font-family:'MyriadSet Pro';
	font-weight: 100;
	font-size: 25px;
	src: url('myriadsetpro_ultralight.eot');
    src: url('myriadsetpro_ultralight.eot') format('embedded-opentype'),
         url('myriadsetpro_ultralight.woff2') format('woff2'),
         url('myriadsetpro_ultralight.woff') format('woff'),
         url('myriadsetpro_ultralight.ttf') format('truetype'),
         url('myriadsetpro_ultralight.svg#myriadsetpro_ultralight') format('svg');
}
